In [1]:
#importing libraries
import numpy as np
import pandas
from pandas import read_csv
import pickle

In [2]:
#importing dataset
filename = 'Salary.csv'
data = read_csv(filename)
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [3]:
#checking if there are any null values 
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [6]:
#splitting data
x = data.iloc[:, :1]
y = data.iloc[:,-1:]

In [7]:
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [8]:
y.head()

   Salary
0   39343
1   46205
2   37731
3   43525
4   39891

In [15]:
#performing function
x['YearsExperience'] = x['YearsExperience'].round()
x.head()

C:\Users\karth\AppData\Local\Temp\ipykernel_13980\897692255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['YearsExperience'] = x['YearsExperience'].round()

   YearsExperience
0              1.0
1              1.0
2              2.0
3              2.0
4              2.0

In [16]:
#concating x,y 
import pandas as pd
df = pd.concat((x,y),axis=1)
df.head()

   YearsExperience  Salary
0              1.0   39343
1              1.0   46205
2              2.0   37731
3              2.0   43525
4              2.0   39891

In [17]:
#importing clean dataset to new dataset named clean_Salary.csv
df.to_csv('clean_Salary.csv')

In [18]:
#creating model
from sklearn.linear_model import LinearRegression
clf=LinearRegression()
clf.fit(x,y)
#checking our score 
clf.score(x,y)

0.9573078465588901

In [25]:
from sklearn.neighbors import KNeighborsClassifier
knf=KNeighborsClassifier()
knf.fit(x,y)
knf.score(x,y)

C:\Users\karth\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.05714285714285714

In [26]:
from sklearn.linear_model import Ridge
r=Ridge()
r.fit(x,y)
r.score(x,y)

0.9573033330789485

In [27]:
from sklearn.linear_model import ElasticNet
e=ElasticNet()
e.fit(x,y)
e.score(x,y)

0.9560192576459349

In [28]:
from sklearn.svm import SVR
S=SVR()
S.fit(x,y)
S.score(x,y)

C:\Users\karth\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-0.0060605840880640915

In [29]:
from sklearn.tree import DecisionTreeRegressor
d=DecisionTreeRegressor()
d.fit(x,y)
d.score(x,y)

0.9838921044926262

In [30]:
#converting clf file to binary code using pickle library
pickle.dump(d,open('model.pkl','wb'))

In [31]:
#crea
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[2]]))

[40382.33333333]

C:\Users\karth\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(